<h1>Portfolio Items</h1>

<!-- THIS WAS THE ORIGINAL WAY
<a href="portfolios/new">Create new portfolio</a> -->
<%= link_to "Create a new portfolio bitch", new_portfolio_path %>

<% @portfolio_items.each do |item| %>
  <h2><%= link_to item.title,
  portfolio_path(item.id) %></h2>
  <p><%= item.subtitle %></p>
  <p><%= item.body %> </p>
  <p><%= item.main_image %></p>
  <p><%= image_tag item.thumb_image if item.thumb_image%></p>
  <%= link_to "Edit this shit", edit_portfolio_path(item.id) %>
  <%= link_to 'Delete portfolio item', portfolio_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
