<h1>Portfolio Items</h1>
<% @portfolio_items.each do |item| %>
  <h4><%= item.title %></h4>
  <p><%= item.subtitle %></p>
  <p><%= item.body %> </p>
  <p><%= item.main_image %></p>
  <p><%= image_tag item.thumb_image if item.thumb_image%></p>

<% end %>
